body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c; /* cinza bem escuro */
    color: #ffffff;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #4f3b24; /* marrom */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #f39c12; /* cor laranja para o botão */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22; /* cor laranja escuro ao passar o mouse */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #3a2a1e; /* marrom mais escuro */
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}